@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-raleway: "Raleway", sans-serif;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-raleway);
}


body {
  background: #1c2c35;
}


#my-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #1c2c35;
  animation: fade-out 2s linear forwards;
}

#my-image img {
  visibility: visible;
  width: 100%;
}

@keyframes fade-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}



a {
  text-decoration: none;
  transition: 0.3;
  color: #fff;
}

a:hover {
  opacity: 0.7;
  color: #00a3ff;
}

#app {
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0;
}



.menuHead {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 15em;
  padding-top: 1em;
}



.linkHead ul {
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: #00a3ff;
  list-style-type: none;
  display: flex;
}

.linkHead li {
  margin-right: 50px;
}



.logo {
  max-width: 100%;
  overflow: hidden;
}

.logo img {
  width: 250px;
  height: 54px;
  flex-shrink: 0;
  margin: auto;
  object-fit: cover;
  
}



.search {
  height: 12px;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.75rem;
  border-radius: 10px;
  background: #64697a;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
  flex: 1;
  border: none;
  padding-right: 1rem;
  outline: none;
  color: #383838;
  background: #64697a;
  font-weight: bolder;
  font-size: 1.5em;
  font-weight: 500;
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.empty {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #636363;
}



.alta {
  display: flex;
  font-weight: bolder;
  padding-right: 53em;
  padding-top: 1em;
  font-size: 18pt;
}

.alta img {
  display: flex;
  width: 1em;
}

.recomendado {
  display: flex;
  font-weight: bolder;
  padding-right: 50em;
  padding-top: 2em;
  font-size: 18pt;
}



.recomendado img {
  display: flex;
  width: 1em;
}




.container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: auto;
  justify-content: space-evenly;
  white-space: nowrap;
}

.container::-webkit-scrollbar {
  display: none;
}

.sectio {
    display: flex;
  }




@media screen and (max-width: 600px) {
  #app{
    padding: 1em;
  }

  .app {
    padding: 1em;
  }
  .search {
    padding: 1rem 2rem;
    width: 100%;
  }
  .search input {
    font-size: 1rem;
    width: 3em;
  }
  .search img {
    width: 15px;
    height: 15px;
  }

  .linkHead li{
    font-size: 8pt;
    padding-right: 0px;
  }
  .menuHead {
    padding: 2em;
  }
  .container{
    padding-right: -30em;
  }
  .logo img {
    width: 250px;
    height: 54px;
    margin: auto;
    object-fit: cover;
  }

}

@media screen and (max-width: 430px) {

  #app{
    padding: 0.3em;
  }
  .app {
    padding: 1rem ;
  }
  h1 {
    font-size: 2rem;
  }
  .container {
    margin-top: 2rem;
    padding-left: 123em;
  }
  .movie {
    width: 100%;
    margin: 1rem;
  }
  .search {

    padding: 1rem 1rem;
    width: 30%;
  }

  .search img {

    padding-left: 2em;
    width: 100%;
  }
  .search input {
    font-size: 65%;
    width: 5em;
  }
  .sectio {
    display: flex;
    padding-left: 2em;
  }
  .alta {
    display: flex;
    font-weight: bolder;
    padding-right: 91em;
    padding-top: 1em;
    font-size: 18pt;
  }
  .recomendado {
    display: flex;
    font-weight: bolder;
    padding-right: 88em;
    padding-top: 2em;
    font-size: 18pt;
  }
  .linkHead ul {
    align-items: center;
    text-align: center;
    font-size: 25pt;
    font-weight: bolder;
    color: #00a3ff;
    list-style-type: none;
    display: flex;
    display: none;
  }
  .linkHead li {
    margin-right: 15px;
  }
  .logo img {
    object-fit: cover;
    align-items: center;
    
  }
  .menuHead {
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    padding-right: 0em;
  }
}
