.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index:999;
  animation: fadeIn 0.3s ease-in-out forwards; 
}



.movieModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 850px;
    border-radius: 10px;
    background: #000000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    z-index: 1000;
    color: #fff;
    max-height: 100vh;
    animation: fadeIn 0.3s ease-in-out forwards; 

}

.movieInfo{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    border-radius: inherit;
    background: #000000;
    position: relative;

}

.movieInfo img{
    position: relative;
    width: 100%;
    height: 480px;
    object-fit: cover;
    object-position: top;
}
.btnClose{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #181818;
    color: #ffff;
    cursor: pointer;
}

.movieType{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(#ffffff00, #000);
    

}

.movieType div:nth-of-type(1){
    position: absolute;
    top: 2em;
    left: 2em;
    color: #ffffff;
    text-transform: uppercase;
}
.movieType div:nth-of-type(1) img {
    width: 5%;
    height: 5%;
    border-radius: none;
}

.movieType a {
    margin-top: 1em;
    padding: 0.2em 0.7em;
    background: #ffffff;
    color: #000;
    border-radius: 0.3em;
    text-decoration: none;
    font-weight: bolder;
    
}

.contMisc {
    display: flex;
    padding: 2em 2em 1em;
}
.contFlex {
    flex: 1;

}

.desc{
    font-size: 12pt;
    padding: 0 2em 2em;
    text-align: justify;
    white-space: normal;
    white-space: normal;

}



/* coisas tablet */
@media (max-width: 600px) {
    .movieModal{
        width: 550px;
    }
    .contMisc {
        padding-top: 1em;
    }
    
}
/* coisas celular */
@media  (max-width: 430px) {
    .modalBackdrop{
        width: 20px;
        margin-top: 2em;
        padding-right: 78em;
    }
    .movieModal{
        width: 20px;
        margin-top: 2em;
        padding-right: 78em;

    }
    .movieType h1{
         font-size: 20pt;

    }
    .movieInfo img {
        height: 220px;
    }

    .contMisc {
        padding-top: 6em;
        display: block;
    }
    .desc{
        padding-bottom: 3.5em;
    }

}


@keyframes fadeIn {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}